#link_1, #link_2, #link_3{
    font-family: Times New Roman, monospace;
}

#bf_list, #content table, #superform{
    font-family: Times New Roman, cursive;
}

#ex_4, #block-logo{
    font-family: Times New Roman, cursive;
    height: 100px;
}

#logo{
    height: 100px;
    width: 100px;
}

table td, th{
	border: 1px solid black;
}

#noteven_1, #noteven_2, #noteven_3{
    background: #5a7878;
}
#even_1,#even_2 {
    background: rgb(130, 90, 90);
}

body footer{
    background-color: rgb(20, 40, 40);
}

body{
    background-image: url(background.jpg);
}

#table_table{
    width:100%;
}